/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log
/.cpcache/

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/
package-lock.json

# shadow-cljs cache, port files
/.shadow-cljs/

# clj-kondo cache
/.clj-kondo/.cache

# local dev
config-dev.edn
